@page "/counter"
@using Chatter.WebClient.Services;
@inject IHubConnectionProvider _hubConnection
<h1>Select a group!</h1>
<div class="form-group">
    <label for="groupid">Group id</label>
    <input type="text" @bind="GroupId" class="form-control" id="groupid" />
</div>


<button class="btn btn-primary" @onclick="JoinGroup">Join</button>

@code {
    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; }
    public int GroupId { get; set; }
    private async Task JoinGroup()
    {
        await _hubConnection.JoinGroup(GroupId);
        await ModalInstance.CloseAsync();
    }
}
